service-a/node_modules/
service-a/.env
service-a/dist/
.DS_Store

service-a-Java/src/main/resources/application.properties
service-a-Java/target
service-a-Java/target/*

terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl